@import "tailwindcss";

@layer theme {
  :root {
    --color-100: #f7f2ea; /*page background color*/
    --color-200: #000; /*button and text color*/
    --color-300: #f3ece1; /*cards background color*/
    --color-400: #00000014; /*faq cards color*/
    --color-500: #99a1af; /*sub-text color*/
    --font-main: "Inter", sans-serif;
    --font-secondary: sans-serif;
  }
}

@layer base {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-100);
    /* @apply max-w-full lg:max-w-[970px] xl:max-w-[1250px] 2xl:max-w-[1400px] mx-auto; */
  }
  h1 {
    @apply text-[48px] md:text-[100px];
  }
  h2 {
    @apply md:text-[64px];
  }
  h3 {
    @apply text-[40px] md:text-[48px];
  }
  h4 {
    @apply text-[28px] md:text-[28px];
  }
  p {
    @apply text-[18px] md:text-[24px];
  }
  @media screen {
  }
}

@layer components {
}

@layer components {
}
